# Getting data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('processminer-rare-event-mts.xlsx')

In [4]:
df.head()

,time,y,x1,x2,x3,x4,x5,x6,x7,x8,...,x52,x53,x54,x55,x56,x57,x58,x59,x60,x61
0,1999-05-01 00:00:00,0,0.376665,-4.596435,-4.095756,13.497687,-0.118830,-20.669883,0.000732,-0.061114,...,10.091721,0.053279,-4.936434,-24.590146,18.515436,3.473400,0.033444,0.953219,0.006076,0
1,1999-05-01 00:02:00,0,0.475720,-4.542502,-4.018359,16.230659,-0.128733,-18.758079,0.000732,-0.061114,...,10.095871,0.062801,-4.937179,-32.413266,22.760065,2.682933,0.033536,1.090502,0.006083,0
2,1999-05-01 00:04:00,0,0.363848,-4.681394,-4.353147,14.127997,-0.138636,-17.836632,0.010803,-0.061114,...,10.100265,0.072322,-4.937924,-34.183774,27.004663,3.537487,0.033629,1.840540,0.006090,0
3,1999-05-01 00:06:00,0,0.301590,-4.758934,-4.023612,13.161566,-0.148142,-18.517601,0.002075,-0.061114,...,10.104660,0.081600,-4.938669,-35.954281,21.672449,3.986095,0.033721,2.554880,0.006097,0
4,1999-05-01 00:08:00,0,0.265578,-4.749928,-4.333150,15.267340,-0.155314,-17.505913,0.000732,-0.061114,...,10.109054,0.091121,-4.939414,-37.724789,21.907251,3.601573,0.033777,1.410494,0.006105,0

In [5]:
df['y'].value_counts()

0    18274
1      124
Name: y, dtype: int64

In [6]:
df.isna().any().value_counts()

False    63
dtype: int64

# Pipelines

In [19]:
from sklearn.preprocessing import OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [11]:
#Pipeline com normalizacao e classificador 

pip = Pipeline([('std',StandardScaler()),('clf',tree.DecisionTreeClassifier())])

In [15]:
#train test split
X=df.drop(['time','y'],axis=1)
y=df['y']
          
X_train,X_test,y_train,y_test=train_test_split(X,y, random_state=32)

In [16]:
pip.fit(X_train,y_train) # treinando o modelo

Pipeline(memory=None,
         steps=[('std',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('clf',
                 DecisionTreeClassifier(class_weight=None, criterion='gini',
                                        max_depth=None, max_features=None,
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort=False, random_state=None,
                                        splitter='best'))],
         verbose=False)

In [28]:
y_pred=pip.predict(X_test) # prediçoes do modelo

In [31]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      4559
           1       0.55      0.44      0.49        41

    accuracy                           0.99      4600
   macro avg       0.77      0.72      0.74      4600
weighted avg       0.99      0.99      0.99      4600

# Cross Validation

In [ ]:
s